{% extends 'Libreria/Base_modulos.html' %}

{% block content %}

<div class="container d-flex flex-column justify-content-between">
    <div>
        <h2 class="text-center">Importar Productos Desde Excel</h2>
    </div>
    <div class="d-flex justify-content-center">
        <form method="POST" enctype="multipart/form-data" class="w-50">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="mb-3">
                <label for="file" class="form-label">Selecciona un archivo:</label>
                <input type="file" name="file" class="form-control" required>
                <small class="text-muted">Solo se admiten archivos .xlsx y .xls</small>
            </div>
            <button type="submit" class="btn btn-success mr-2">Subir archivo</button>
        </form>
    </div>
    <div class="d-flex justify-content-end">
        <a class="btn btn-dark" href="{% url 'base' %}">Volver</a>
    </div>
</div>

{% endblock %}