{% extends 'Libreria/Base_modulos.html' %}

{% block content %}
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgba(0, 0, 0, 0);">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="btn btn-primary mr-2" href="{% url 'bodegas_create' %}">Crear Bodega</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-primary mr-2" href="{% url 'agregar_producto_bodega' %}">Agregar Producto a Bodega</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-dark" href="{% url 'base' %}">Volver</a>
                        </li>
                    </ul>
                </div>                
            </div>
        </nav>       
    </header>
        <table class="table table-striped text-white">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Tiopo de Contenido</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Tamaño</th>
                    <th scope="col">Acciones</th>
                    <th scope="col">Fecha de Creacion</th>
                    <th scope="col">Fecha de Actualización</th>
                </tr>
            </thead>
            <tbody>
                {% for t in bodegas %}
                <tr>
                    <td>{{ t.id }}</td>
                    <td>{{ t.nombre }}</td>
                    <td>{{ t.direction }}</td>
                    <td>{{ t.estado }}</td>
                    <td>{{ t.tipo_de_contenido }}</td>
                    <td>{{ t.nivel_stock }}</td>
                    <td>{{ t.tamaño_bodega }}</td>
                    <td>{{ t.created_at }}</td>
                    <td>{{ t.updated_at }}</td>
                    <td>
                        <div class="d-flex">
                            <a class="btn btn-info btn-sm m-1" href="{% url 'bodegas_detail' t.id %}" title="Ver"><i class="bi bi-eye"></i></a>
                            <a class="btn btn-warning btn-sm m-1" href="{% url 'bodegas_update' t.id %}" title="Editar"><i class="bi bi-pencil"></i></a>
                            <a class="btn btn-danger btn-sm m-1" href="{% url 'bodegas_delete' t.id %}" title="Eliminar"><i class="bi bi-trash"></i></a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</body>
{% endblock %}

