{% extends 'Libreria/Base_modulos.html' %}

{% block content %}
<div class="container mt-5">
    {% if bodega %}
    <h2 class="text-center mb-5">Detalles de Bodega {{ bodega.id }}</h2>
    <div class="row">
        <div class="col-md-8">
            <div class="card shadow border-0 p-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Información de la Bodega</h4>
                    
                    <div class="mb-3">
                        <h5 class="text-uppercase text-secondary">Nombre</h5>
                        <p class="fs-5 text-dark">{{ bodega.nombre }}</p>
                        <hr>
                    </div>
                    
                    <div class="mb-3">
                        <h5 class="text-uppercase text-secondary">Dirección</h5>
                        <p class="fs-5 text-dark">{{ bodega.direction }}</p>
                        <hr>
                    </div>
                    
                    <div class="mb-3">
                        <h5 class="text-uppercase text-secondary">Contenido</h5>
                        <p class="fs-5 text-dark">{{ bodega.tipo_de_contenido }}</p>
                        <hr>
                    </div>
                    
                    <div class="mb-3">
                        <h5 class="text-uppercase text-secondary">Stock</h5>
                        <p class="fs-5 text-dark">{{ bodega.nivel_stock }}</p>
                        <hr>
                    </div>
                    
                    <div class="mb-3">
                        <h5 class="text-uppercase text-secondary">Estado</h5>
                        <p class="fs-5 text-dark">{{ bodega.estado }}</p>
                        <hr>
                    </div>
                    
                    <div class="mb-3">
                        <h5 class="text-uppercase text-secondary">Tamaño</h5>
                        <p class="fs-5 text-dark">{{ bodega.tamaño_bodega }}</p>
                        <hr>
                    </div>
                    
                    <div class="mb-3">
                        <h5 class="text-uppercase text-secondary">Fecha de Creación</h5>
                        <p class="fs-5 text-dark">{{ bodega.created_at }}</p>
                        <hr>
                    </div>
                    
                    <div class="mb-3">
                        <h5 class="text-uppercase text-secondary">Fecha de Actualización</h5>
                        <p class="fs-5 text-dark">{{ bodega.updated_at }}</p>
                        <hr>
                    </div>
                    
                    <div class="mb-3">
                        <h5 class="text-uppercase text-secondary">Capacidad</h5>
                        <p class="fs-5 text-dark">{{ bodega.capacidad }}</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 text-center">
            <a class="btn btn-dark" href="{% url 'bodegas_list' %}">Volver</a>
        </div>
    </div>
    {% else %}
    <h2 class="text-center text-danger">Bodega no encontrada</h2>
    {% endif %}
</div>
{% endblock %}
