<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libreria El Gran Poeta</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'libreria/css/style_base_modulos.css' %}">
    <link rel="shortcut icon" href="{% static 'libreria/img/logo.jpeg' %}" type="image/x-icon">
    <link rel="stylesheet"  href="{% static 'Editorales/css/formStyle.css' %}">
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">El Gran Poeta</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <div class="d-flex" role="search">
                        <a class="nav-link" href="{% url 'contacto' %}">Reportar Error</a>
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-outline-light" style="background-color: transparent; border-color: transparent; color: rgb(255, 255, 255);" type="submit"><i class="bi bi-box-arrow-right"></i>LOGOUT</button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Bloque de contenido -->
<div class="container mt-5 pt-5">
    
    {% block content %}

    <div class="row">
        <!-- Módulo 1 -->
        <div class="col-md-4 mb-3">
            <a href="{% url 'list' %}" class="module-card">
                <div class="module-icon"><i class="bi bi-book"></i></div>
                <div class="module-text">
                    <h5>Gestion Productos</h5>
                    <p>Opciones para hacer Gestion de productos</p>
                </div>
            </a>
        </div>

        <!-- Módulo 2 -->
        <div class="col-md-4 mb-3">
            <a href="{% url 'bodegas_list' %}" class="module-card">
                <div class="module-icon"><i class="bi bi-box"></i></div>
                <div class="module-text">
                    <h5>Gestion Bodegas</h5>
                    <p>Opciones para hacer Gestion de bodegas</p>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-3">
            <a href="{% url 'editorialList' %}" class="module-card">
                <div class="module-icon"><i class="bi bi-journal-medical"></i></div>
                <div class="module-text">
                    <h5>Gestion editoriales</h5>
                    <p>Opciones para hacer Gestion de editoriales</p>
                </div>
            </a>
        </div>

        <!-- Módulo 3 -->
        <div class="col-md-4 mb-3">
            <a href="{% url 'userList' %}" class="module-card">
                <div class="module-icon"><i class="bi bi-people"></i></div>
                <div class="module-text">
                    <h5>Gestion de Usuarios</h5>
                    <p>Opciones para hacer Gestion de usuarios</p>
                </div>
            </a>
        </div>

        <!-- Módulo 4 -->
        <div class="col-md-4 mb-3">
            <a href="#" class="module-card">
                <div class="module-icon"><i class="bi bi-arrow-up-circle"></i></div>
                <div class="module-text">
                    <h5>Importar Productos</h5>
                    <p>Opciones para importar Productos</p>
                </div>
            </a>
        </div>
    </div>

    {% endblock %}

</div>

<!-- jQuery, Bootstrap JS y Smooth Scroll -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
