{% extends 'Libreria/Base_modulos.html' %}

{% block content %}
<body>
    {% if libros %}
        <h2 class="text-center mb-4 ">Eliminar libro</h2>
        <p class="text-center mb-4 " mb-4>Esta seguro de eliminar el libro {{libros.title}}?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a class="btn btn-dark" href="{% url 'list' %}">Volver</a>
        </form>
    {% else %}
        <h2>Libro no encontrado</h2>
    {% endif %}
</body>
{% endblock content %}