{% extends 'Libreria/Base_modulos.html' %}

{% block content %}

<body class="bg-light">
    <div class="container mt-5">
        <div class="card p-4 shadow">
            {% if libro %}
            <h2 class="text-center mb-4 font-family: 'Lora', serif;">Detalles del Libro {{ libro.id }}</h2>
            <div class="row">
                <div class="col-md-8">
                    <p><b>Nombre:</b> {{ libro.title }}</p>
                    <p><b>Descripción:</b> {{ libro.description }}</p>
                    <p><b>Autor:</b> {{ libro.author }}</p>
                    <p><b>Editorial:</b> {{ libro.editorial }}</p>
                    <p><b>Tipo:</b> {{ libro.tipo }}</p>
                    <p><b>Tamaño:</b> {{ libro.tamaño }}</p>
                    <p><b>Fecha Creación:</b> {{ libro.created_at }}</p>
                    <p><b>Fecha Actualización:</b> {{ libro.updated_at }}</p>
                </div>
                <div class="col-md-4 text-center">
                    <img src="{{ libro.portada.url }}" alt="Portada del libro" class="img-fluid rounded shadow">
                </div>
            </div>
            {% else %}
            <h2 class="text-center text-danger">Libro no encontrado</h2>
            {% endif %}
        </div>
        <div class="text-center mt-4">
            <a class="btn btn-dark" href="{% url 'list' %}">Volver</a>
        </div>
    </div>
</body>
{% endblock %}