/* Estilos adicionales */
.navbar {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7));
    transition: background-color 0.5s;
}
.navbar-nav .nav-link {
    color: #ffffff !important;
    font-weight: 500;
    transition: color 0.3s;
}
.navbar-nav .nav-link:hover {
    color: #ffd700 !important;
    font-weight: bold;
}
.navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-size: 1.8rem;
    color: #ffd700 !important;
}
header {
    height: 100vh;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/ilustracion2.jpg") no-repeat center center / cover;
    color: #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
header h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 4.5rem;
    color: #ffd700;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}
#sobre-nosotros h2, #portafolio h2, #clientes h2 {
    font-family: 'Lora', serif;
    font-size: 3rem;
    color: #ffd700 !important;
}
.portfolio-item img {
    transition: transform 0.3s, opacity 0.3s;
}
.portfolio-item img:hover {
    transform: scale(1.05);
    opacity: 0.9;
}
.overlay {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    transition: transform 0.3s;
}
.overlay:hover {
    transform: scale(1);
}
footer {
    background-color: #222;
    color: #f8f9fa;
    padding: 1.5rem 0;
    font-size: 0.9rem;
}
footer h4 {
    font-weight: bold;
    color: #ffd700;
}
section {
    margin-top: 100px; /* Espacio superior */
    margin-bottom: 100px; /* Espacio inferior */
}



.custom-container {
    max-width: 95%; /* Ajusta el porcentaje según lo que necesitas */
}


.card:hover img {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.card:hover .card-body {
    background-color: #f8f9fa;
    transition: background-color 0.3s ease;
}
