/* Estilos adicionales */
.navbar {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7));
    transition: background-color 0.5s;
}
.navbar-nav .nav-link {
    color: #ffffff !important;
    font-weight: 500;
    transition: color 0.3s;
}
.navbar-nav .nav-link:hover {
    color: #F1C40F !important;
    font-weight: bold;
}
.navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-size: 1.8rem;
    color: #F1C40F !important;
}
header {
    height: 100vh;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/ilustracion2.jpg") no-repeat center center / cover;
    color: #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
header h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 4.5rem;
    color: #F1C40F;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}
#sobre-nosotros h2, #portafolio h2, #clientes h2 {
    font-family: 'Lora', serif;
    font-size: 3rem;
    color: #F1C40F !important;
}
.portfolio-item img {
    transition: transform 0.3s, opacity 0.3s;
}
.portfolio-item img:hover {
    transform: scale(1.05);
    opacity: 0.9;
}
.overlay {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    transition: transform 0.3s;
}
.overlay:hover {
    transform: scale(1);
}
footer {
    background-color: #222;
    color: #f8f9fa;
    padding: 1.5rem 0;
    font-size: 0.9rem;
}
footer h4 {
    font-weight: bold;
    color: #F1C40F;
}
section {
    margin-top: 100px; /* Espacio superior */
    margin-bottom: 100px; /* Espacio inferior */
}



/* Estilos de la sección principal */
.custom-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.custom-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre cada card */
    justify-content: center;
}

.custom-col {
    flex: 1 1 22%; /* Ajusta la anchura de cada card */
    min-width: 250px;
}

/* Estilos de la tarjeta */
.custom-card {
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    transition: transform 0.3s ease;
}

.custom-card:hover {
    transform: scale(1.03);
}

.custom-card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.custom-card:hover .custom-card-img {
    transform: scale(1.05);
}

.custom-card-body {
    background-color: #f8f9fa;
    padding: 1rem;
}

.custom-card-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.custom-card-text {
    font-size: 0.9rem;
    color: #666;
}

/* Botón personalizado */
.custom-btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    color: #fff;
    background-color: #007bff;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.custom-btn:hover {
    background-color: #0056b3;
}
