{% extends 'Libreria/Base_modulos.html' %}

{% block content %}
<div class="container mt-5">
    {% if usuario %}
    <h2 class="text-center mb-5">Detalles del Usuario {{ usuario.username }}</h2>
    <div class="row">
        <div class="col-md-8">
            <div class="card shadow border-0 p-4">
                <div class="card-header bg-info text-white">
                    <h3 class="mb-0">Información del Usuario</h3>
                </div>
                <div class="card-body">
                    
                    <div class="mb-3">
                        <h5 class="text-uppercase text-secondary">Nombre de Usuario</h5>
                        <p class="fs-5 text-dark">{{ usuario.username }}</p>
                        <hr>
                    </div>
                    
                    <div class="mb-3">
                        <h5 class="text-uppercase text-secondary">Correo Electrónico</h5>
                        <p class="fs-5 text-dark">{{ usuario.email }}</p>
                        <hr>
                    </div>
                    
                    <div class="mb-3">
                        <h5 class="text-uppercase text-secondary">Rol</h5>
                        <p class="fs-5 text-dark">{{ usuario.rol }}</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 text-center">
            <a class="btn btn-info" href="{% url 'userList' %}">
                <i class="bi bi-arrow-left-circle m-1"></i>Volver
            </a>
        </div>
    </div>
    {% else %}
    <h2 class="text-center text-danger">Usuario no encontrado</h2>
    {% endif %}
</div>
{% endblock %}
